<section id="offres" ng-controller="offreCtrl" ng-init="rechercherOffres()">
    <h1>Liste des offres</h1>
    <div class="container" >
        <div class="panel panel-default">
            <table class="table" >
                <tr>
                    <th>id</th>
                    <th>Titre</th>
                    <th>Lieu</th>
                    <th>Experience</th>
                    <th></th>
                </tr>
                <tr ng-repeat="offre in offres">
                    <td ng-show="offre.active == 1">{{offre.idOffre}}</td>
                    <td ng-show="offre.active == 1">{{offre.titre}}</td>
                    <td ng-show="offre.active == 1">{{offre.lieu}}</td>
                    <td ng-show="offre.active == 1">{{offre.experience}}</td>
                    <td ng-show="offre.active == 1"><a  style="width:100%" ui-sref="root.carriere.detailOffre({idOffre:offre.idOffre})" class="btn btn-primary" >voir</a></td>
                </tr>
            </table>
        </div>
    </div>
</section>
<section id="espaceCandidat" ng-controller="loginCtrl">
    <section  class="col-sm-offset-1 col-sm-5">
        <h1>Accèder à mon espace</h1><br>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label class="control-label col-sm-3" >Email:</label>
                <div class="col-sm-6">
                    <input type="email" ng-model="userData.email" name="email" placeholder="Addresse Email" required="" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" >Password:</label>
                <div class="col-sm-6">
                    <input type="password" ng-model="userData.password" name="password" placeholder="Mot de passe" required="" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-6">
                    <button type="submit" ng-click='login(user)' name="go" class="btn btn-block btn-info">S'identifier</button>
                </div>
            </div>
            <div class="col-sm-offset-3 col-sm-6">
                <h4>Je postule pour la première fois</h4><a style="width:100%" ui-sref="root.carriere.formulaireCandidat">S'incrire</a><br>
            <div class="col-sm-offset-3 col-sm-6">
                <h4>Mot de passe oublié</h4><a style="width:100%" data-toggle="modal" data-target="#myModal">renvoyer</a>
            </div>
        </form>
        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Mot de passe oublié</h4>
                    </div>
                    <div class="modal-body">
                        <form name="mailForm">
                            <div class="form-group">
                                <label class="col-sm-offset-1 col-sm-2">mail : </label>
                                <div class="col-sm 4">
                                    <input type="text" required ng-model="mail" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" class="form-control" name = "mail"><br>
                                    <div ng-if="mailForm.mail.$dirty" ng-messages="mailForm.mail.$error">
                                        <div ng-message="required">Veuillez renseigner ce champ!</div>
                                        <div class="alert" ng-message="pattern">Veuillez entrer un email valide!</div>
                                    </div><br>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-1 col-sm-2">
                                    <button ng-click="resendMail(mail)" class="btn btn-primary">Renvoyer un mot de passe</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="col-sm-offset-1 col-sm-5">
        <h1 >Candidature Spontanée</h1><br>
        <a ui-sref="root.carriere.formulaireCandidatureSpontanee">Candidater</a><br>
    </section>
</section>
<script type="text/javascript" src="./js/scrollSpy.js"></script>