<section id="utilisateur" ng-controller="utilisateurCtrl" ng-init="rechercherOffresUtilisateur()">
    <br>
    <br>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-3">
            <h4><b>Informations personnelles : </b></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-1">
            <h4><b>Vous : </b></h4>
        </div>
        <div class="col-sm-4">
            <h4><p>{{user.nom}} {{user.prenom}}</p></h4>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-1 col-sm-2">
            <h4><b>Vous avez postulé à : </b></h4>
        </div>
    </div>
    <div class="container" >
        <div class="panel panel-default">
            <table class="table" >
                <tr>
                    <th>Titre</th>
                    <th>Lieu</th>
                    <th>Experience</th>
                    <th>Votre Candidature</th>
                </tr>
                <tr ng-repeat="offreUtilisateur in offresUtilisateur">
                    <td ng-show="offreUtilisateur.active == 1">{{offreUtilisateur.titre}}</td>
                    <td ng-show="offreUtilisateur.active == 1">{{offreUtilisateur.lieu}}</td>
                    <td ng-show="offreUtilisateur.active == 1">{{offreUtilisateur.experience}}</td>
                    <td ng-show="offreUtilisateur.active == 1"><a ui-sref="root.carriere.formulaireCandidatOffre({idUtilisateur:offreUtilisateur.idUtilisateur,idOffre:offreUtilisateur.idOffre})"  class="btn btn-primary" >Modifier sa candidature</a></td>
                </tr>
            </table>
        </div>
    </div>
</section>
<section id="offres" ng-controller="offreCtrl" ng-init="rechercherOffres()">
    <br>
    <br>
    <h1>Liste des offres</h1>
    <div class="container" >
        <div class="panel panel-default">
            <table class="table" >
                <tr>
                    <th>id</th>
                    <th>Titre</th>
                    <th>Lieu</th>
                    <th>Experience</th>
                    <th></th>
                </tr>
                <tr ng-repeat="offre in offres">
                    <td ng-show="offre.active == 1">{{offre.idOffre}}</td>
                    <td ng-show="offre.active == 1">{{offre.titre}}</td>
                    <td ng-show="offre.active == 1">{{offre.lieu}}</td>
                    <td ng-show="offre.active == 1">{{offre.experience}}</td>
                    <td ng-show="offre.active == 1"><a ui-sref="root.carriere.detailOffre({idOffre:offre.idOffre})" class="btn btn-primary" >voir</a></td>
                </tr>
            </table>
        </div>
    </div>
</section>
<script type="text/javascript" src="./js/scrollSpy.js"></script>