<section>
    <div class="container">
        <div class="row">
            <h1>Mentions Légales</h1>
            <h3>Identité de l’éditeur de ce site</h3>
            <p>Ce site est édité par PCIE, SARL, n°&nbsp;SIRET, 48518955900027 représenté par ses gérants, Messieurs Nicolas Garcia et Yannick Jassin. 6 Avenue Prat Gimont 31130
                Balma.</p>
            <p>Tel : 05.34.33.24.68</p>
            <h3>Propriété – Droits d’auteur</h3>
            <p>L’ensemble de ce site relève de la législation française sur le droit d’auteur et la propriété intellectuelle. Ce site est la propriété de PCIE.
                Il est interdit à tout internaute de copier ou reproduire tout ou partie du contenu du site, sauf autorisation spécifique et expresse de PCIE et
                sauf usage personnel et privé conforme aux dispositions du code de la propriété intellectuelle. Ces reproductions devront mentionner de façon claire et lisible la
                source et l’auteur du site. En aucun cas, ces reproductions ne sauraient porter préjudice aux auteurs. Tous les droits de reproduction sont réservés, y compris pour
                les documents téléchargeables.</p>
            <h3>Contenu du site - Validité des informations</h3>
            <p>Les informations fournies sur ce site sont communiquées à titre indicatif et général et ne sauraient être utilisées sans vérification préalable par l’internaute. En
                dépit du soin apporté au recueil des informations ainsi qu’à la réalisation du site, des erreurs, coupures ou additions indépendantes de la volonté de PC
                Intervention Express peuvent être présentes sur ce site. Les informations fournies sont non contractuelles.</p>
            <p>PCIE ne pourra être tenue pour responsable des conséquences directes ou indirectes pouvant résulter de l’utilisation, de la consultation et de
                l’interprétation des informations fournies, pas plus que de la modification des dispositions administratives et juridiques survenant après la publication. Le
                contenu des offres commerciales est susceptible d’être modifié, sans préavis, par PCIE.</p>
            <p>L’utilisateur du site et des informations qu’il contient reconnaît qu’il en fait usage sous sa seule responsabilité. En conséquence, PCIE ne
                saurait voir sa responsabilité engagée à raison de tout préjudice, direct ou indirect, de quelque nature que ce soit, résultant pour tout ou partie de l’utilisation
                des informations du site.</p>
            <h3>Informatique et libertés</h3>
            <p>Conformément à la loi «&nbsp;Informatique et Libertés&nbsp;» du 6 janvier 1978 modifiée, vous bénéficiez d’un droit d’accès et de rectification des informations
                vous concernant auprès de PCIE. Si vous souhaitez exercer ce droit, vous devez nous adresser une formulation écrite soit</p>
            <p>Par courriel à&nbsp;: <span id="cloak44530"><a href="mailto:contact@pcie.fr">contact@pcie.fr</a></span></p>
            <p>soit par courier postal à&nbsp;: PCIE, 6 Avenue Prat Gimont, 31130 Balma</p>
            <h2>Messagerie</h2>
            <h3>Contenu des échanges :</h3>
            <p>Dans le cadre de la rubrique de contact, qui permet une demande de renseignements par email, les réponses fournies par Artoris suite à la sollicitation d’un
                internaute (par
                voie d’e-mail) ne sont en aucun cas définitives et n’ont pas de valeur contractuelle. En effet, les informations communiquées en retour se font sur la base des
                données
                transmises par l’internaute. PCIE ne disposant pas de l’ensemble des données, en aucun cas sa responsabilité ne pourrait être engagée.</p>
            <h3>Conservation et utilisation des adresses électroniques :</h3>
            <p>En utilisant un logiciel de messagerie l’internaute communique à PCIE son adresse électronique. Celle-ci peut être conservée et utilisée
                ultérieurement pour proposer des services ou des offres commerciales.</p>
            <p>L’internaute peut, à tout moment, demander la suppression de son adresse électronique en écrivant à <span><a href="mailto:contact@pcie.fr">contact@pcie.fr</a></span>
            </p>
            <h3>Liens entre sites Internet :</h3>
            <p>PCIE propose des liens vers des sites Internet extérieurs. Leur contenu ne peut en aucune manière engager sa responsabilité. Tout lien depuis un
                site Internet vers le site pcie.fr doit faire l’objet d’une autorisation préalable de PCIE.</p>
        </div>
    </div>
</section>